@font-face {
    font-family: 'Pixelade';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/7380/PIXELADE.woff') format('woff');
}

:root {
    --blue: #000080;
    --grey: #c0c0c0;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelade', sans-serif !important;
}

.container,
#wrap {
    width: 300px;
    background-color: var(--grey);
    padding: 3px;
    border-color: #fff #393939 #393939 #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    background-color: silver;
}

.title-bar {
    background: var(--blue);
    height: 20px;
    width: 100%;
    color: white;
    padding-left: 15px;
    font-size: 20px;
}

.main-container {
    display: flex;
    margin: 5px 5px 5px 5px;
    border-color: #393939 #fff #fff #393939;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    padding: 10px;
    background: #fff;
}