@font-face {
    font-family: 'Pixelade';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/7380/PIXELADE.woff') format('woff');
}

:root {
    --blue: #000080;
    --grey: #c0c0c0;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelade', sans-serif !important;
}

.container,
#wrap {
    width: 600px;
    background-color: var(--grey);
    padding: 3px;
    border-color: #fff #393939 #393939 #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    background-color: silver;
}

.title-bar {
    background: var(--blue);
    height: 20px;
    width: 100%;
    color: white;
    padding-left: 15px;
}

.progress-bar {
    margin-top: 5px;
}

.goal-bar-bg {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    background: var(--white);
    text-align: center;
    font-size: 20px;
    border-color: #393939 #fff #fff #393939;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    color: var(--white);
    text-shadow: 0px 0px 4px black;
}

.goal-bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--blue);
}

#goal-current,
#goal-total,
#goal-slash {
    z-index: 1000;
}
